@import url(reset.css);

/*
    Стиль страницы
*/

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root{
  --color-bg: rgba(244, 244, 244, 255);
  --dark-light-icon: url("/images/moon.png");
  --dark-light-icon-hover: url("/images/moon-focus.png");
  --theme-color: black;
  --p-color: #3a3a3a;
  --p-bold-color: black;
  --text-hover: #000;
  --main-border-color: #aaa9a9;
  --theme-border-color: black;
  --footer-bg: gainsboro;
}
.dark-theme{
  --color-bg: rgb(59, 55, 55);
  --dark-light-icon: url("/images/sun.png");
  --dark-light-icon-hover: url("/images/sun-focus.png");
  --theme-color: #fff;
  --p-color: rgba(255, 255, 255, 0.795);
  --p-bold-color: #fff;
  --text-hover: #fff;
  --main-border-color: rgb(0, 0, 0);;
  --theme-border-color: rgb(192, 191, 191);;
  --footer-bg: rgb(34, 31, 31);
}
body {
  font-family: sans-serif, Verdana, "Tahoma";
  background-color: var(--color-bg);
}


.container {
  border-top: 2px solid var(--main-border-color);
}

.header,
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
}

.theme {
  color: var(--theme-color);
  padding: 10px 5px;
  font-weight: bold;
}

/*
    Заголовок
*/

.header {
  padding: 1em 0;
  height: 9em;
  display: flex;
}

.logo a {
  float: left;
}

/*
    Навигация
*/
.primary-nav {
  margin: 2em 0 2em 5em;
  width: 100%;
  height: auto;
}

.primary-nav ul {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.primary-nav li{
  margin: 0.3em 1em;
}
.primary-nav li a {
  outline: none;
  color: #fe9b00;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.primary-nav li:hover a,
.primary-nav li.active a {
  color: var(--text-hover);
}

/*
    Переключатель
*/

.dark-light-button{
  background: var(--dark-light-icon) no-repeat;
  background-size: contain;
  width: 2em;
  height: 2em;
  border: none;
}

.dark-light-button:hover{
  background-image: var(--dark-light-icon-hover);
}

/*
    Банер
*/
.main_photo {
  padding: 1em 0 0;
}
.main_photo div {
  height: 500px;
  width: auto;
  background: url(/images/header-image.jpg) no-repeat;
  background-size: contain;
}

/*
    About section
*/
.about{
  display: flex;
  justify-content: space-between;
}
.about img {
  display: inline-block;
  vertical-align: middle;
}

.about-1 {
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.about-1 p {
  margin: 15px 0;
  color: var(--p-color);
  line-height: 130%;
}

.about-1 ul li {
  background: url("/images/check.png") no-repeat;
  padding: 0 0 0 26px;
}

.about-1 .theme {
  border-bottom: 7px solid var(--theme-border-color);
  font-size: 20px;
}

.read {
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  color: #fe9b00;
  text-decoration: none;
}

.read:hover {
  color: var(--text-hover);
}

cite {
  color: var(--p-bold-color);
  font-style: italic;
}

/*
    Portfolio
*/
.portfolio {
  overflow: hidden;
  padding: 0.3em 0;
  margin-bottom: 2em;

}
.portfolio .theme {
  font-size: 20px;
}
.portfolio-row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.portfolio-1 {
  display: inline-block;
  position: relative;
}

.view {
  position: absolute;
  bottom: 2.1%;
  right: 0;
  padding: 0.7em;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: #fe9b00;
}



/*
    Blog and connect
*/
.blog-contact .theme {
  font-size: 10px;
}

.blog-contact-1 {
  max-width: 1000px;
  display: inline-block;
  padding: 0.3em 0;
  margin-bottom: 3em;
  vertical-align: top;
}
.blog-contact-1 p {
  color: var(--p-color);
  font-size: 1em;
}
.blog {
  width: 60%;
  margin-right: 2em;
  line-height: 150%;
}

.contact a {
  width: 30%;
  padding-right: 1em;
}

/*
    Footer
*/
.primary-footer {
  background-color: var(--footer-bg);
  height: 7em;
  display: flex;
  align-items: center;
}

.primary-footer section {
  text-decoration: none;
  font-size: 15px;
  border-top: none;
}

.footer_navigation {
  float: left;
  color: #5d5d5d;
}
.footer_navigation li {
  display: inline-block;
  margin: 0.2em;
}

.primary-footer li a {
  color: #5d5d5d;
  font-size: 1em;
  text-transform: capitalize;
  font-weight:normal;
  text-decoration: none;
}

.primary-footer li a:hover{
    color: #fe9b00;
}

.mini_logo {
  float: right;

}
